<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mohsents.androidjetpackcomposedemo">

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StateCodelab">
        <activity
            android:name=".todo.TodoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StateCodelab.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".examples.HelloCodelabActivity"
            android:exported="true" />
        <activity
            android:name=".examples.HelloCodeLabActivityWithViewModel"
            android:exported="true" />
    </application>

</manifest>